{% extends "../../base.html" %}  {% load bootstrap4 %}  {% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block extrahead %}{{ form.media }}{% endblock %}
{% block title %}会社の削除 - タスク・リソース管理App{% endblock %}
{% block content %}
    <div class="container-fluid" style="background-color:#e6f2ff;">
        <div class="container py-2">
            <h5><i class="far fa-building fa-fw"></i>会社の削除</h5>
            <form action="" method="post">
                {% csrf_token %}
                <table class="table table-sm border rounded bg-white text-center">
                    <tr>
                        <th>名前</th>
                        <th>会社名</th>
                    </tr>
                    <tr>
                        <td class="align-middle">{{ object.name }}</td>
                        <td class="align-middle">{{ object.company }}</td>
                    </tr>
                </table>
                <p>この会社を削除しますか？</p>
                <button class="btn btn-outline-danger" type="submit"><i class="far fa-trash-alt fa-fw"></i>削除</button>
                <a href="{% url 'schedule:company_edit' object.pk %}" class="btn btn-outline-dark"><i
                        class="fas fa-long-arrow-alt-left fa-fw"></i></i>戻る</a>
            </form>
        </div>
    </div>
{% endblock %}