{% extends "../../base.html" %}  {% load bootstrap4 %}  {% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block extrahead %}{{ form.media }}{% endblock %}
{% block title %}会社の新規登録 - タスク・リソース管理App{% endblock %}
{% block content %}
    <div class="container-fluid" style="background-color:#e6f2ff;">
        <div class="container py-2">
            <h5><i class="far fa-building fa-fw"></i>会社の新規登録</h5>
            <form action="" method="post" novalidate>
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-outline-primary" type="submit"><i class="fas fa-paper-plane fa-fw"></i>送信
                </button>
                <a href="{% url 'schedule:company_list' %}" class="btn btn-outline-dark"><i
                        class="fas fa-long-arrow-alt-left fa-fw"></i>戻る</a>
            </form>
        </div>
    </div>
{% endblock %}