{% extends "../../base.html" %}
{% block title %}タスク一覧 - タスク・リソース管理App{% endblock %}
{% block content %}
    <div class="container-fluid" style="background-color:#e6f2ff;">
        <div class="container py-2">
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            <h5><i class="far fa-calendar-alt fa-fw"></i>タスク一覧</h5>
            <table class="table table-sm border rounded bg-white text-center">
                <tr>
                    <th>日付</th>
                    <th>会社名</th>
                    <th>場所</th>
                    <th>内容</th>
                    <th>人数</th>
                    <th></th>
                </tr>
                {% for object in object_list %}
                    <tr>
                        <td class="align-middle">{{ object.date|date:"n月j日" }}</td>
                        <td class="align-middle">{{ object.company }}</td>
                        <td class="align-middle">{{ object.area }}</td>
                        <td class="align-middle">{{ object.content }}</td>
                        <td class="align-middle">{{ object.num_of_people }}</td>
                        <td class="align-middle"><a href="{% url 'schedule:schedule_edit' object.pk %}"
                                                    class="btn btn-outline-primary btn-sm"><i
                                class="far fa-edit fa-fw"></i>編集</a></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="mt-n2">
                <a class="btn btn-outline-dark btn-sm" href="{% url 'schedule:schedule_create' %}" role="button"><i
                        class="far fa-plus-square fa-fw"></i>新規登録</a>
                <a href="{% url 'schedule:index' %}" class="btn btn-outline-dark btn-sm"><i
                        class="fas fa-long-arrow-alt-left fa-fw"></i>戻る</a>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color:#f1f5f9;">
    </div>
{% endblock %}